{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h1 class="text-2xl font-bold mb-4">Login</h1>
<div id="maindiv" class="bg-white p-6 rounded shadow-md">
    <div class="mb-4">
        <label for="username" class="block text-gray-700">Username</label>
        <input type="text" name="username" id="username" class="border p-2 w-full" required>
    </div>
    <div class="mb-4">
        <label for="password" class="block text-gray-700">Password</label>
        <input type="password" name="password" id="password" class="border p-2 w-full" required>
    </div>
    <button onclick="login()" class="bg-blue-500 text-white p-2 rounded">Login</button>
</div>
<p class="mt-4">Go to <a href="/register" class="text-blue-500">Register</a></p>
<script>
    function login() {
        var username = $("#username").val()
        var password = $("#password").val()
        
        var data = {
            username: username,
            password: password,
        }
        console.log("logging in...")


        let res = post_request("/api/v1/users/login", data)
        console.log(res)
        if (res["success"]) {
            console.log("logged in")
            
            setCookie("token", res["token"])

            window.location.replace("/")

            //$("maindiv").html(`<div class="block text-gray-700"><p>Register successful.</p></div>`)
        }
    }
</script>
{% endblock %}
